<%= form_for([@user, @second_test]) do |f| %>
  <% if @second_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@second_test.errors.count, "error") %> prohibited this second_test from being saved:</h2>

      <ul>
      <% @second_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Fase <strong>2. SOLUCIÓN</strong></h2>
  <hr class="blue">
<p class="center">Adjunta el archivo que editaste en PDF del Boceto de idea. </p>

  <div class="field">
    <%= f.label :boceto %><br>
    <%= @second_test.boceto if @second_test.boceto %> <br><br>
    <%= f.file_field :boceto %>
    <%= f.hidden_field :boceto_cache %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
