<p id="notice"><%= notice %></p>

<p>
  <strong>Boceto:</strong>
  <%= @second_test.boceto %>
</p>

<p>
  <strong>User:</strong>
  <%= @second_test.user %>
</p>

<%= link_to 'Edit', edit_second_test_path(@second_test) %> |
<%= link_to 'Back', second_tests_path %>
