<%= form_for([@user, @fourth_test]) do |f| %>
  <% if @fourth_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fourth_test.errors.count, "error") %> prohibited this fourth_test from being saved:</h2>

      <ul>
      <% @fourth_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Fase <strong>4. PIVOTEO Y PRESENTACIÓN</strong></h2>
  <hr class="blue">
<p class="center">Escribe el link al video que subiste en YouTube <br><br> <strong>INCLUYE HTTP://</strong></p>

  <div class="field">
    <%= f.label :link_al_video %><br>
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :Anota_las_modificaciones_a_tu_solución_anterior %><br>
    <%= f.text_field :aprendizajes2 %>
  </div>
<br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
