<%= form_for([@user, @first_test, @first_review]) do |f| %>
  <% if @first_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@first_review.errors.count, "error") %> prohibited this first_review from being saved:</h2>

      <ul>
      <% @first_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Fase <strong>1. DEFINICIÓN DE PROBLEMA Y USUARIO</strong></h2>
  <hr class="blue">
  
  <p class="center">El reporte debe de decir claramente cuál es el reto que quieren resolver y qué personas están involucradas. Elige la opción que mejor describa el contenido del reporte: 
</p>

  <div class="field">
    <%= f.label :El_reporte_describe_y_o_explica %><br>
    <!-- <%#= f.number_field :info1 %> -->
    <%= f.select :info1, [["al problema y al cliente de forma clara", 25], ["al problema claramente pero al cliente no tan bien", 15], ["al cliente claramente pero al problema no tan bien", 15], ["al problema y al cliente no tan bien ", 5], ["ni el problema ni el cliente quedan claros", 0]]%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
