<% @total4 = 0 %><% @total5 = 0 %>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
    <div id="formariol">
      <ul>
        <% if current_user.admin? %>
          <% @users.each do |user| %>
          <li class="col-sm-2">
          <h2>Equipo: <%= user.team %></h2>
          <%= link_to 'Ver prueba', user %>
            <% user.fourth_tests.each do |fourth_test| %>
              <% if fourth_test.fifth_reviews.present? %>
                <h5>Calificación de Video: </h5>
                  <%=  @l= fourth_test.fifth_reviews.average(:problem2).round(2) 
                       @m= fourth_test.fifth_reviews.average(:cliente2).round(2) 
                       @n= fourth_test.fifth_reviews.average(:propuesta2).round(2) 
                       @o= fourth_test.fifth_reviews.average(:ventajas2).round(2) 
                       @p= fourth_test.fifth_reviews.average(:monetizacion2).round(2) 
                       @q= fourth_test.fifth_reviews.average(:comunicacion2).round(2) 
                       @total4 = @l + @m + @n + @o + @p +@q %>
                  <% else %>
                  <td></td>
                   <% end %>

                   <% if fourth_test.sixth_reviews.present? %>
                <h5>Calificación de Pitch: </h5>
                  <%= @l= fourth_test.sixth_reviews.average(:problem3).round(2) 
                      @m= fourth_test.sixth_reviews.average(:cliente3).round(2) 
                      @n= fourth_test.sixth_reviews.average(:propuesta3).round(2) 
                      @o= fourth_test.sixth_reviews.average(:ventajas3).round(2) 
                      @p= fourth_test.sixth_reviews.average(:monetizacion3).round(2) 
                      @q= fourth_test.sixth_reviews.average(:comunicacion3).round(2) 
                      @total4 = @l + @m + @n + @o + @p +@q %>
                  <% else %>
                  <td></td>
                  <% end %>
            <% end %>
          </li>
          <% end %>
        <% else %>
          <% @usera.each do |user| %>
          <li class="col-sm-2">
          <h2>Equipo: <%= user.team %></h2>
          <%= link_to 'Ver prueba', user %>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>

<!-- <h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th>team</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.team %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_registration_path %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %> -->
