<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>



<% if @user.first_tests.blank? %>
  <h3>Aún no hay primera prueba</h3>
    <%= link_to "Nueva primera Prueba", new_user_first_test_path(@user) %>
<% else %>
  <% @user.first_tests.each do |first_test| %>
  	<%= first_test.info1 %>
  	<%= link_to "Edit Status", edit_user_first_test_path(@user, first_test) %>
    <%= link_to "Show", user_first_test_path(@user, first_test) %>
<% end %>
<% end %>

<% if @user.second_tests.blank? %>
  <h3>Aún no hay Segunda prueba</h3>
    <%= link_to "Nueva Segunda Prueba", new_user_second_test_path(@user) %>
<% else %>
  <% @user.second_tests.each do |second_test| %>
  	<%= second_test.boceto %>
  	<%= link_to "Edit Status", edit_user_second_test_path(@user, second_test) %>
    <%= link_to "Show", user_second_test_path(@user, second_test) %>
<% end %>
<% end %>


<% if @user.third_tests.blank? %>
  <h3>Aún no hay Tercera prueba</h3>
    <%= link_to "Nueva Tercera Prueba", new_user_third_test_path(@user) %>
<% else %>
  <% @user.third_tests.each do |third_test| %>
  	<%= third_test.info2 %>
    <%= third_test.likes1 %>
    <%= third_test.aprendizajes1 %>
  	<%= link_to "Edit Status", edit_user_third_test_path(@user, third_test) %>
    <%= link_to "Show", user_third_test_path(@user, third_test) %>
<% end %>
<% end %>


<% if @user.fourth_tests.blank? %>
  <h3>Aún no hay Cuarta prueba</h3>
    <%= link_to "Nueva Cuarta Prueba", new_user_fourth_test_path(@user) %>
<% else %>
  <% @user.fourth_tests.each do |fourth_test| %>
  	<%= fourth_test.video %>
    <%= fourth_test.likes2 %>
    <%= fourth_test.aprendizajes2 %>
  	<%= link_to "Edit Status", edit_user_fourth_test_path(@user, fourth_test) %>
    <%= link_to "Show", user_fourth_test_path(@user, fourth_test) %>
<% end %>
<% end %>



<br><br><br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
