<%= form_for([@user, @third_test]) do |f| %>
  <% if @third_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@third_test.errors.count, "error") %> prohibited this third_test from being saved:</h2>

      <ul>
      <% @third_test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Fase <strong>3. PROTOTIPADO</strong></h2>
  <hr class="blue">

<p class="center">Adjunta la infografía que utilizaste para la segunda validación, los likes en facebook y los aprendizajes que tuviste.
</p>

  <div class="field">
    <%= f.label :info2 %><br>
    <%= @third_test.info2 if @third_test.info2 %>
    <br><br>
    <%= f.file_field :info2 %>
    <%= f.hidden_field :info2_cache %>
  </div>
  <div class="field">
    <%= f.label :likes1 %><br>
    <%= f.number_field :likes1 %>
  </div>
  <div class="field">
    <%= f.label :aprendizajes1 %><br>
    <%= f.text_field :aprendizajes1 %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
