<p id="notice"><%= notice %></p>

<p>
  <strong>Info2:</strong>
  <%= @third_test.info2 %>
</p>

<p>
  <strong>Likes1:</strong>
  <%= @third_test.likes1 %>
</p>

<p>
  <strong>Aprendizajes1:</strong>
  <%= @third_test.aprendizajes1 %>
</p>


<p>
  <strong>User:</strong>
  <%= @third_test.user %>
</p>

<%= link_to 'Edit', edit_third_test_path(@third_test) %> |
<%= link_to 'Back', third_tests_path %>
