<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sixth_review.user %>
</p>

<p>
  <strong>Fourth test:</strong>
  <%= @sixth_review.fourth_test %>
</p>

<p>
  <strong>Problem3:</strong>
  <%= @sixth_review.problem3 %>
</p>

<p>
  <strong>Cliente3:</strong>
  <%= @sixth_review.cliente3 %>
</p>

<p>
  <strong>Propuesta3:</strong>
  <%= @sixth_review.propuesta3 %>
</p>

<p>
  <strong>Ventajas3:</strong>
  <%= @sixth_review.ventajas3 %>
</p>

<p>
  <strong>Monetizacion3:</strong>
  <%= @sixth_review.monetizacion3 %>
</p>

<p>
  <strong>Comunicacion3:</strong>
  <%= @sixth_review.comunicacion3 %>
</p>

<%= link_to 'Edit', edit_sixth_review_path(@sixth_review) %> |
<%= link_to 'Back', sixth_reviews_path %>
