<%= form_for(@fouth_review) do |f| %>
  <% if @fouth_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fouth_review.errors.count, "error") %> prohibited this fouth_review from being saved:</h2>

      <ul>
      <% @fouth_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :fourth_test_id %><br>
    <%= f.text_field :fourth_test_id %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.number_field :video %>
  </div>
  <div class="field">
    <%= f.label :likes2 %><br>
    <%= f.number_field :likes2 %>
  </div>
  <div class="field">
    <%= f.label :aprendizaje2 %><br>
    <%= f.number_field :aprendizaje2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
