<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fouth_review.user %>
</p>

<p>
  <strong>Fourth test:</strong>
  <%= @fouth_review.fourth_test %>
</p>

<p>
  <strong>Video:</strong>
  <%= @fouth_review.video %>
</p>

<p>
  <strong>Likes2:</strong>
  <%= @fouth_review.likes2 %>
</p>

<p>
  <strong>Aprendizaje2:</strong>
  <%= @fouth_review.aprendizaje2 %>
</p>

<%= link_to 'Edit', edit_fouth_review_path(@fouth_review) %> |
<%= link_to 'Back', fouth_reviews_path %>
