<%= form_for([@user, @third_test, @third_review]) do |f| %>
  <% if @third_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@third_review.errors.count, "error") %> prohibited this third_review from being saved:</h2>

      <ul>
      <% @third_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :third_test_id %><br>
    <%= f.text_field :third_test_id %>
  </div>
  <div class="field">
    <%= f.label :info2 %><br>
    <%= f.number_field :info2 %>
  </div>
  <div class="field">
    <%= f.label :likes1 %><br>
    <%= f.number_field :likes1 %>
  </div>
  <div class="field">
    <%= f.label :aprendizaje1 %><br>
    <%= f.number_field :aprendizaje1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
