<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @third_review.user %>
</p>

<p>
  <strong>Third test:</strong>
  <%= @third_review.third_test %>
</p>

<p>
  <strong>Info2:</strong>
  <%= @third_review.info2 %>
</p>

<p>
  <strong>Likes1:</strong>
  <%= @third_review.likes1 %>
</p>

<p>
  <strong>Aprendizaje1:</strong>
  <%= @third_review.aprendizaje1 %>
</p>

<%= link_to 'Edit', edit_third_review_path(@third_review) %> |
<%= link_to 'Back', third_reviews_path %>
