<%= form_for([@user, @second_test, @second_review]) do |f| %>
  <% if @second_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@second_review.errors.count, "error") %> prohibited this second_review from being saved:</h2>

      <ul>
      <% @second_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :second_test_id %><br>
    <%= f.text_field :second_test_id %>
  </div>
  <div class="field">
    <%= f.label :problema1 %><br>
    <%= f.number_field :problema1 %>
  </div>
  <div class="field">
    <%= f.label :cliente1 %><br>
    <%= f.number_field :cliente1 %>
  </div>
  <div class="field">
    <%= f.label :alternativa1 %><br>
    <%= f.number_field :alternativa1 %>
  </div>
  <div class="field">
    <%= f.label :solucion1 %><br>
    <%= f.number_field :solucion1 %>
  </div>
  <div class="field">
    <%= f.label :ventajas1 %><br>
    <%= f.number_field :ventajas1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
