<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fifth_review.user %>
</p>

<p>
  <strong>Fourth test:</strong>
  <%= @fifth_review.fourth_test %>
</p>

<p>
  <strong>Problem2:</strong>
  <%= @fifth_review.problem2 %>
</p>

<p>
  <strong>Cliente2:</strong>
  <%= @fifth_review.cliente2 %>
</p>

<p>
  <strong>Propuesta2:</strong>
  <%= @fifth_review.propuesta2 %>
</p>

<p>
  <strong>Ventajas2:</strong>
  <%= @fifth_review.ventajas2 %>
</p>

<p>
  <strong>Monetizacion2:</strong>
  <%= @fifth_review.monetizacion2 %>
</p>

<p>
  <strong>Comunicacion2:</strong>
  <%= @fifth_review.comunicacion2 %>
</p>

<%= link_to 'Edit', edit_fifth_review_path(@fifth_review) %> |
<%= link_to 'Back', fifth_reviews_path %>
