<%= form_for([@user, @fourth_test, @fourth_review]) do |f| %>
  <% if @fourth_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fourth_review.errors.count, "error") %> prohibited this fourth_review from being saved:</h2>

      <ul>
      <% @fourth_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2>Fase <strong>4. PIVOTEO Y PRESENTACIÓN</strong></h2>
  <hr class="blue">

  <p class="center">En esta fase vamos a calificar: la entrega del video y su duración, no su contenido, el número de likes en facebook y los aprendizajes
</p>

  <div class="field">
    <%= f.label :video %><br>
    <!-- <%#= f.number_field :video %> -->
    <%= f.select :video, [["Entregó en tiempo y dura dos minutos o menos", 10], ["Sólo una de las dos: entregó en tiempo y dura dos minutos o menos", 5], ["No entregó en tiempo y no dura dos minutos o menos", 0]]%>
  </div>
  <div class="field">
    <%= f.label :likes %><br>
    <!-- <%#= f.number_field :likes2 %> -->
    <%= f.select :likes2, [["El problema/oportunidad está bien definido y es fácil ver que es un problema/oportunidad relevante", 5], ["El problema/oportunidad es muy general y cuesta trabajo saber si es relevante o no", 3], ["Se nota claramente que el problema/oportunidad no es relevante", 0]]%>
  </div>
  <div class="field">
    <%= f.label :aprendizaje %><br>
    <!-- <%#= f.number_field :aprendizaje2 %> -->
    <%= f.select :aprendizaje2, [["El problema/oportunidad está bien definido y es fácil ver que es un problema/oportunidad relevante", 5], ["El problema/oportunidad es muy general y cuesta trabajo saber si es relevante o no", 3], ["Se nota claramente que el problema/oportunidad no es relevante", 0]]%>
  </div>

  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
