<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @fourth_review.user %>
</p>

<p>
  <strong>Fourth test:</strong>
  <%= @fourth_review.fourth_test %>
</p>

<p>
  <strong>Video:</strong>
  <%= @fourth_review.video %>
</p>

<p>
  <strong>Likes2:</strong>
  <%= @fourth_review.likes2 %>
</p>

<p>
  <strong>Aprendizaje2:</strong>
  <%= @fourth_review.aprendizaje2 %>
</p>

<%= link_to 'Edit', edit_fourth_review_path(@fourth_review) %> |
<%= link_to 'Back', fourth_reviews_path %>
