<p id="notice"><%= notice %></p>

<p>
  <strong>Info1:</strong>
  <%= @first_test.info1 %>
</p>

<p>
  <strong>User:</strong>
  <%= @first_test.user %>
</p>

<%= link_to "Edit Status", edit_user_first_test_path(@user, @first_test) %> |
<%= link_to 'Back', users_path %>
