<p id="notice"><%= notice %></p>

<p>
  <strong>Info1:</strong>
  <%= @first_test.info1 %>
</p>

<p>
  <strong>User:</strong>
  <%= @first_test.user %>
</p>

<%= link_to 'Edit', edit_first_test_path(@first_test) %> |
<%= link_to 'Back', first_tests_path %>
